PoseEstimation/.vscode/
PoseEstimation/2207.12841.pdf
PoseEstimation/CODE_OF_CONDUCT.md
PoseEstimation/CONTRIBUTING.md
PoseEstimation/DATASETS.md
PoseEstimation/DOCUMENTATION.md
PoseEstimation/INFERENCE.md
PoseEstimation/LICENSE
PoseEstimation/README.md
PoseEstimation/checkpoint/
PoseEstimation/common/
PoseEstimation/data/
PoseEstimation/detectron2/
PoseEstimation/ffprobe.exe
PoseEstimation/images/
PoseEstimation/inference/
PoseEstimation/run.py
PoseEstimation/test_input/
PoseEstimation/trial.ps1
src/Core/PoseEstimation/LICENSE
src/Core/PoseEstimation/checkpoint/
src/Core/PoseEstimation/common/
src/Core/PoseEstimation/data/
src/Core/PoseEstimation/detectron2/
src/Core/PoseEstimation/ffprobe.exe
src/Core/PoseEstimation/images/
src/Core/PoseEstimation/inference/
src/Core/PoseEstimation/run.py
src/Core/PoseEstimation/trial.ps1
.vs/poseify/FileContentIndex
.vs/poseify/v17
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
Backend/obj
Estimation_test
src/Core/PoseEstimation/log.txt
src/Core/appsettings.Development.json
src/Core/appsettings.Development.json
src/Core/PoseEstimation/checkpoint
src/Core/PoseEstimation/vp3d/
src/BffMobile/appsettings.Development.json
